@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
body {
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}
html {
  font-size: 56.25%;
  /* scroll-behavior: smooth; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "poppins", sans-serif;
}
h3{
  text-transform: capitalize;
}
p,
li,
a,
label {
  font-family: "Urbanist", sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.1rem; 
  font-weight: 400;
  color: var(--para-color);
  line-height: 1.5;
}
p {
  font-size: 1.6rem;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

/*! Theme */

:root {
  --main-color: #0062ff;
  --supporting-color: #ebf3fe;
  --font-color: #424242;
  --bg-color: #f7fcff;
  --heading-color: #000a19;
  --para-color: #504e4d;
  --hero-heading-color: #003b99;
  --white-color: #ffffff;
  --btn-hover-bg-color: #003b99;
  --btn-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --footer-bg-color: #040d12;
}

/*! Layout */
.container {
  max-width: 122rem;
  margin: 0 auto;
  /* margin: 0 16rem; */
  padding: 5rem 2rem;
}
.grid {
  display: grid;
}
.grid-two--cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid-three--cols {
  grid-template-columns: repeat(3, 1fr);
  gap: 5.5rem;
}
.grid-four--cols {
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem;
  & .courses {
    padding: 2.5rem;
    margin-top: -2rem;
  }
}

/* .section-about .container:first-child,
.section-course .container:first-child,
.section-why-choose .container:first-child,
.section-contact .container:first-child,
.section-blog .container:first-child {
  padding: 12rem 0 2.4rem 0;
} */
:is(
    .section-about,
    .section-course,
    .section-why-choose,
    .section-contact,
    .section-blog
  )
  .container:first-child {
  padding: 10rem 2.4rem 3rem 2.4rem;
}

/*! module/reusable */

.section-common--heading {
  font-size: 2.3rem;
  font-weight: 700;
  text-transform: capitalize;
}
.section-common--subheading {
  color: var(--heading-color);
  font-weight: 500;
}

.section-common--title {
  font-size: 1.6rem;
  font-weight: 650;
  margin: 1.8rem 0 0.9rem 0;
}
.fa-solid {
  font-size: 2.1rem;
  background-color: var(--supporting-color);
  padding: 2rem;
  border-radius: 50%;
  color: var(--hero-heading-color);
}

.fa-brands {
  font-size: 2.1rem;
  background-color: var(--supporting-color);
  padding: 2rem;
  border-radius: 50%;
  color: var(--hero-heading-color);
}
.btn {
  display: inline-block;
  padding: 1rem 3rem;
  background-color: var(--main-color);
  color: var(--white-color);
  border-radius: 0.6rem;
  font-size: 1.7rem;
}
.btn:hover {
  background-color: var(--btn-hover-bg-color);
  cursor: pointer;
  box-shadow: var(--btn-box-shadow);
}
/*! states  */

/***** navbar Section *****/

.section-navbar {
  width: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: var(--bg-color);
  position: fixed;
  z-index: 1;
}
.navbar-logo img {
  width: 25%;
  height: auto;
}
.section-navbar .container {
  display: flex;
  /* justify-content: start; */
  align-items: center;
  padding: 1rem 2.4rem;
}
.section-navbar .navbar ul {
  display: flex;
  gap: 3rem;
  & li a {
    color: var(--heading-color);
    text-transform: uppercase;
    /* font-weight: 550; */
    display: inline-block;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 1.8rem;
      width: 0%;
      left: 0rem;
      border-bottom: 0.2rem solid var(--main-color);
      transition: all 0.3s linear;
    }
  }
  & li a:hover:after {
    width: 100%;
  }
}

.wobble-top {
  transform-origin: 0 100%;

  &:hover {
    animation: wobble-top 1s ease-in-out 1;
    /* animation-name: wobble-top;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1; */
  }
}
@keyframes wobble-top {
  16.65% {
    transform: skew(-12deg);
  }

  33.3% {
    transform: skew(10deg);
  }

  49.95% {
    transform: skew(-6deg);
  }

  66.6% {
    transform: skew(4deg);
  }

  83.25% {
    transform: skew(-2deg);
  }

  100% {
    transform: skew(0);
  }
}

/***** End navbar Section *****/

/***** HERO Section *****/
main {
  position: relative;
  background: linear-gradient(
    to top right,
    #3d86fa,
    #4484fb,
    #679eff,
    #b3d2ff,
    #ebf3fe
  );
}
.section-hero .grid-two--cols {
  align-items: center;
  gap: 10rem;
  padding-block: 10rem;

  & .hero-subheading {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 1.7rem;
    word-spacing: 0.2rem;
    font-weight: 700;
    color: var(--hero-heading-color);
  }
  & .hero-heading {
    font-size: 5rem;
    line-height: 6rem;
    font-family: "Jost";
    color: var(--hero-heading-color);
    font-weight: 800;
  }
  & .hero-para {
    color: var(--white-color);
    margin: 1.5rem 0 4.5rem 0;
  }
}

.section-hero--image img {
  width: 100%;
  height: auto;
}
/* Shape Divider */
.custom-shape-divider-bottom-1725470568 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1725470568 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 120px;
}

.custom-shape-divider-bottom-1725470568 .shape-fill {
  fill: #ffffff;
}
/***** End HERO Section *****/

/***** About Section *****/
.section-about img {
  padding: 1.5rem;
  width: 13rem;
  height: auto;
  background-color: var(--supporting-color);
  border-radius: 50%;
  transition: all 0.3s linear;
}
.icon img:hover {
  scale: 1.1;
  background: linear-gradient(to right, #0575e6, #021b79);
  padding: 1.5rem;
}
.section-about .about {
  text-align: center;
  /* margin-top: 20rem; */
}

/***** End About Section *****/

/***** Course Section *****/

.section-course {
  background-color: var(--bg-color);
}

.section-course .courses:hover {
  box-shadow: var(--btn-box-shadow);
  transition: all 0.3s ease;
}

.courses:nth-child(2) .icon .fa-brands {
  color: #68bf9b;
  background-color: #e7f6ef;
}
.courses:nth-child(4) .icon .fa-brands {
  color: #183d3d;
  background-color: #ccf7f7;
}
.courses:nth-child(6) .icon .fa-brands {
  color: #ff9b50;
  background-color: #f6dfce;
}
.courses:nth-child(7) .icon .fa-brands {
  color: #1450a3;
  background-color: #dce9fa;
}

.courses:nth-child(3) .icon .fa-solid {
  color: #ff8b52;
  background-color: #fbebe8;
}
.courses:nth-child(5) .icon .fa-solid {
  color: #d988b9;
  background-color: #f7dfee;
}
/***** End Course Section *****/

/***** why choose Section *****/

.section-why-choose .grid {
  /* gap:10rem; */

  & .text-align--right .why-choose {
    text-align: right;
    display: flex;
    align-items: end;
    flex-direction: column;
  }
  & .text-align--left .why-choose {
    text-align: left;
    display: flex;
    align-items: start;
    flex-direction: column;
  }
  & .why-choose {
    margin-top: 3.2rem;
  }
}

.common-text-highlight {
  width: 5.2rem;
  aspect-ratio: 1;
  color: var(--main-color);
  background-color: var(--supporting-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 2.4rem;
  font-weight: 700;
}
.choose-center img {
  width: 100%;
  height: auto;
}

.section-why-choose .choose-center,
figure {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block-start: 1rem;
  position: relative;
}

.section-why-choose .choose-center figure::before,
.choose-center figure::after {
  position: absolute;
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37rem;
  height: 37rem;
  border-radius: 50%;
  background-color: var(--hero-heading-color);
  z-index: -1;
}

.choose-center figure::before {
  animation: circle 5s linear infinite alternate;
}
@keyframes circle {
  0% {
    background-color: #b3d0ff;
  }
  25% {
    background-color: #80b1ff;
  }
  50% {
    background-color: #4d91ff;
  }
  75% {
    background-color: #4a8ffd;
  }
  100% {
    background-color: var(--main-color);
  }
}

.section-why-choose .choose-center figure::after {
  width: 39rem;
  height: 39rem;
  background-color: transparent;
  border: 0.5rem solid var(--supporting-color);
  z-index: -2;
}
/***** End why choose Section *****/

/***** Blog Section *****/
.section-blog {
  background-color: var(--bg-color);

  & .grid {
    gap: 1.5rem;
  }
  & .blog {
    box-shadow: var(--btn-box-shadow);
    width: 90%;
    transition: all 0.3s linear;

    &:hover {
      scale: 1.1;
    }
  }
  & .section-common--title {
    font-weight: 600;
    font-size: 1.5rem;
  }
  & .blog-content {
    padding: 1.4rem 1.5rem 1.5rem;
  }
  & figure {
    margin-block-start: 0;
  }
  & img {
    width: 100%;
    height: auto;
  }
  & .blog-date {
    display: flex;
    justify-content: space-between;
    margin-top: 0.6rem;
    & p {
      font-weight: 600;
      font-size: 1.5rem;
    }

    & .fa-solid {
      background-color: transparent;
      padding: 0;
      font-size: 2rem;
    }
  }
  & .section-common--title {
    margin-top: 0.8rem;
  }
}

/***** End Blog Section *****/

/***** Contact home  Section *****/
.section-contact-homepage {
  width: 60%;
  min-height: 30rem;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  /* margin-bottom: 5rem; */
  padding-inline: 2.5rem;
  position: relative;
  bottom: -10rem;
  background-color: var(--white-color);
  & .grid {
    align-items: center;
    gap: 5rem;
    padding: 2rem 1rem;
  }
  &:hover {
    transition: 0.2s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 7px 5px;
    background-color: #f4f7fb;
  }
}
.contact-image img {
  width: 90%;
}
.contact-content {
  font-size: 2rem;
  line-height: 1.2;
}
.contact-content p {
  margin: 1rem 0 2rem 0;
}
.section-contact-homepage a {
  color: var(--white-color);
  text-transform: capitalize;
  font-size: 1.6rem;
  display: inline-block;
  & .fa-duotone {
    padding: 0.5rem;
    background-color: var(--white-color);
    color: var(--main-color);
    font-size: 1.5rem;
  }
}
/***** End Contact home  Section *****/

/***** Contact page Section *****/
/* .section-contact {
  & .grid {
    align-items: center;
    gap: 5rem;
  }
} */

.mb-3 {
  margin-bottom: 2rem;
}
label {
  display: block;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}

input,
textarea {
  width: 100%;
  padding: 1rem 1.5rem;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
}

::placeholder {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
}
.btn-submit {
  font-size: 1.8rem;
  border: none;
  text-transform: capitalize;
}
:where(textarea, input):focus-visible {
  outline: 0.1rem solid var(--btn-hover-bg-color);
}

.section-contact .grid-two--cols {
  gap: 5rem;
}

/***** End Contact page Section *****/

/***** Footer Section *****/

footer * {
  color: var(--white-color);
}
footer {
  background-color: var(--footer-bg-color);
  padding-top: 9rem;
  & .grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  & .credit {
    width: 100%;
    position: relative;
    text-transform: capitalize;
    text-align: center;
    padding-top: 3rem;
    font-size: 1.7rem;
    letter-spacing:.1rem;
    bottom: -4rem;
    border-top: 0.2rem solid var(--btn-hover-bg-color);
    & span {
      color: var(--main-color);
    }
  }
}

.footer,
.footer-ul li {
  font-size: 1.5rem;
  text-transform: capitalize;
  transition: all 0.3s ease;
  &:hover {
    text-indent: 2rem;
    cursor: pointer;
  }
}
footer .grid-four--cols {
  padding-block-end: 7rem;

}
.footer-subheading {
  font-size: 2rem;
  font-weight: 700;
  padding-inline-end: 12rem;
}


.footer-1 p {
  margin: 1.5rem 0 2.5rem 0;
  font-size: 1.6rem;
  font-weight: 500;
}

.footer-logo img {
  width: 17%;
 margin-bottom: -3rem;
}
.social-footer-icons {
  display: flex;
  gap: 2rem;

  & .fa-brands {
    padding: 1rem;
    transition: all 0.3s linear;
    &:hover {
      color: var(--supporting-color);
      background-color: var(--btn-hover-bg-color);
      rotate: 360deg;
    }
  }
}
/***** End Footer Section *****/

/***** scroll bar Section *****/

/* width */
::-webkit-scrollbar {
  width: 1.4rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--supporting-color);
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  background-color: #023d9a;
}
/***** End scroll bar Section *****/

/*****! Media queries Section *****/

@media (width <=998px) {
  .section-hero {
    padding-block-end: 3rem;
    height: auto;
    & .grid-two--cols {
      gap: 5rem;
      & .section-hero--image {
        & img {
          width: 80%;
        }
      }
      & .section-hero--content {
        & .hero-subheading {
          letter-spacing: 0.2rem;
          font-size: 1.5rem;
        }
        & .hero-heading {
          font-size: 3.7rem;
          line-height: 5rem;
        }
        & .hero-para {
          font-size: 1.4rem;
        }
      }
    }
  }

  .section-why-choose {
    & .choose-center {
      img {
        width: 80%;
      }
      & figure::before {
        height: 28rem;
        width: 28rem;
      }
      & figure::after {
        height: 30rem;
        width: 30rem;
      }
    }
    /* & .choose-right {
      order: 3;
    }
    & .choose-left {
      order: 2;
  } */
  }

  .section-contact .grid-two--cols {
    grid-template-columns: 1fr;
    gap: 5rem;
  }

  .section-contact-homepage {
    width: 70%;
    min-height: 20rem;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    /* margin-bottom: 5rem; */
    padding-inline: 1.5rem;
    bottom: -9rem;
    & .grid {
      gap: 1rem;
      padding: 2rem 1rem;
    }
  }
  .contact-image img {
    width: 100%;
  }
  .contact-content {
    font-size: 1.7rem;
  }
  .contact-content p {
    margin: 1rem 0;
  }
}
@media (width <= 768px) {
  html {
    font-size: 50.25%;
  }

  .section-hero {
    height: auto;
    padding-block: 4rem;
    & .grid-two--cols {
      gap: 4rem;
      & .section-hero--image {
        & img {
          width: 80%;
        }
      }
      & .section-hero--content {
        & .hero-subheading {
          letter-spacing: 0.2rem;
          font-size: 1.5rem;
        }
        & .hero-heading {
          font-size: 3.3rem;
          line-height: 4.5rem;
        }
      }
    }
  }

  .custom-shape-divider-bottom-1725470568 svg {
    height: 100px;
  }

 
  .footer-1 {
    padding-bottom: 2rem;
  }
  .footer-logo img {
    width: 20%;
  }
  .section-navbar .container {
    flex-direction: column;
    & .navbar-logo {
      text-align: center;
      margin-bottom: 0.5rem;
    }
  }
  .section-hero .container {
    padding-top: 12rem;
  }

  .section-about .grid-three--cols {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 4rem;
  }

  :is(.section-course, .section-blog) .grid-four--cols {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .section-why-choose {
    & .choose-center {
      /* img{
  width: 100%;
} */
      & figure::before {
        height: 20rem;
        width: 20rem;
      }
      & figure::after {
        height: 23rem;
        width: 23rem;
      }
    }
  }

  .section-about .container:first-child,
  .section-course .container:first-child,
  .section-why-choose .container:first-child,
  .section-contact .container:first-child,
  .section-blog .container:first-child {
    padding-block-start: 13rem;
  }
}

@media (width <= 576px) {
  html {
    font-size: 45.25%;
  }

  .section-hero {
    height: auto;
    & .grid-two--cols {
      /* grid-template-columns: 1fr; */
      gap: 2rem;

      & .section-hero--content {
        & .hero-subheading {
          letter-spacing: 0.2rem;
          font-size: 1.5rem;
        }
        & .hero-heading {
          font-size: 3.2rem;
          line-height: 4.2rem;
        }
        & .hero-para {
          font-size: 1.2rem;
        }
      }
    }
  }

  .custom-shape-divider-bottom-1725470568 svg {
    height: 80px;
  }
  .section-contact-homepage {
    width: 70%;
    min-height: 20rem;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    /* margin-bottom: 5rem; */
    padding-inline: 1rem;
    bottom: -9rem;
    & .grid {
      gap: 1rem;
      padding: 2rem 1rem;
    }
    & .contact-content {
      font-size: 1.2rem;

      & .btn  {
        padding: 0.7rem 1rem;
        margin-top: 1rem;
        & a{
 
    font-size: 1.5rem;
        }
      }

    }
    .contact-content p {
      margin: 1rem 0;
      font-size: 1.2rem;
    }
  }
  .section-why-choose {
    & .grid .why-choose {
      margin-top: 2rem;
    }

    & .grid-three--cols {
      gap: 2rem;
      /* & .choose-center {
      }
      img {
        width: 100%;
      } */
      & figure::before {
        height: 18rem;
        width: 18rem;
      }
      & figure::after {
        height: 20rem;
        width: 20rem;
      }
    }
  }
  footer .credit {
    padding-top: 2rem;
    font-size: 1.4rem;
line-height: 1.7;
    & span {
      color: var(--main-color);
    }
  }
[data-aos]{
   transform: none !important;
  transition: none !important; 
}
}

@media (width <=436px) {
  html {
    font-size: 40%;
  }

  .section-hero--image {
    display: none;
  }
  .section-hero .grid-two--cols {
    grid-template-columns: 1fr;
  }
  .section-hero--content {
    grid-column: 1 / -1;
  }

  .section-hero {
    height: auto;
    & .grid-two--cols {
      gap: 1rem;
   
      & .section-hero--content {
        & .hero-subheading {
          font-size: 1.5rem;
        }
        & .hero-heading {
          font-size: 4rem;
          line-height: 5rem;
        }
        & .hero-para {
          font-size: 1.4rem;
        }
      }
    }
  }

  .custom-shape-divider-bottom-1725470568 svg {
    height:60px;
    
  }
  .section-why-choose {
    & .grid-three--cols {
      & .choose-center {
        img {
          width: 70%;
        }
        & figure::before {
          height: 14rem;
          width: 14rem;
        }
        & figure::after {
          height: 15rem;
          width: 15rem;
        }
      }
    }
  }
}

/*****! End! Media queries Section *****/
